
{{ template "head.html" }}
{{ template "top_padding.html" }}

<h1>Dashboard</h1>

<form   method="POST" 
        onclick='this.action = "/save/" + document.getElementById("fileName").value'>
    <div class="element list">
        <textarea   id="fileName"
                    rows="1"
                    placeholder="File name here..."
                    style="width:85%; text-align: left; padding-block-start: 3px"></textarea>
        <div style="padding-bottom: 5px"></div>
        <input  type="submit" 
                class="button" 
                value="Create"/>
    </div>
</form>

{{range .}}
<div class="element list">
    <a href="/view/{{.}}">
        {{.}}
    </a>
</div>
{{end}}
