
{{ template "head.html" }}
{{ template "top_padding.html" }}

<h1>
    Editing {{.Title}}
</h1>

<form action="/save/{{.Title}}" method="POST">
    <div class="element">
        <input type="button" value="Back" class="button" onclick="history.back()" >
        <input type="submit" value="Save" class="button">
        <input type="button" value="Delete" class="button" onclick='location.href="/delete/{{.Title}}"' >
    </div>

    <div class="element">
        <textarea   name="body"
                    rows="20"
                    style="width:100%; text-align: left">{{printf "%s" .Body}}</textarea>
    </div>
</form>
